<div class="grid-container fluid login">

    <form data-abide novalidate action='/index' method="POST">
        <div data-abide-error class="alert callout" style="display: none;" data-closable>
            <button class="close-button" aria-label="Close alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <p><i class="fi-alert"></i>el formulario no ha sido llenado de manera correcta.</p>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12">
                    <label>Nombre
                        <input type="text" placeholder="Nombre123" name="nombre" required pattern="alpha_numeric">
                        <span class="form-error">
                            Digite un nombre de usuario
                        </span>
                    </label>
                </div>
                <div class="cell small-12">
                    <label>Cedula
                        <input type="number" placeholder="1214141231231" name="cedula" required pattern="number">
                        <span class="form-error">
                            Digite su cedula
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <button class="button" type="submit" value="Submit">Submit</button>
    </form>
</div>